body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-layout {
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px 0;

}

.picture-layout {
  margin: 6px 6px 3px 6px;
}

.information-layout {
  margin-top: 6px;

}

.greetings-template {
  border: 1px solid black;
  margin: 0 0 10px 0;
  padding: 5px;

}

.random-template {
  border: 1px solid black;
  margin: 0 0 10px 0;
  padding: 5px;

}

.box-color-template {
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.cc-container {
  display: inline-block;
}

.cc-template {
  width: 280px;
  height: 130px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.image-template {
  text-align: right;
}

.logo-image {
  width: 50px;
  margin-top: 15px;
  
}

.cc-number {
  font-size: 30px;
  margin: 20px 0 20px 0;
  
}

.cc-expiration {
  white-space: pre;
  margin: 0;

}

.cc-owner {
  margin-top: 0;
  
}

.stars-template h1 {
  margin: 0;

}


.driver-template {
  width: 98%;
  height: 120px;
  border-radius: 10px;
  background-color: #445FB9;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.driver-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.driver-info h2 {
  margin: 0;
}

.like-button-container {
  display:inline-block;
  margin: 0 10px 0 0;
}

.like-button-layout {
  width: 80px;
  height: 40px;
  font-size: 20px;
  color: white;
}

.clickable-pic-layout {
  width: 40px;
  height: auto;
}


